<div class="welcome-page bg-dark">
  <header class="m-3">
      
    <span class="fs-1 text-light">  Welcome to myFlix! </span>
    
  </header>
  <main class="welcome-main">
    <div class="welcome-main__ctas">
      <button class="bg-light text-dark" mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" >
        Sign Up
      </button>
      <button class="bg-light text-dark" mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px;" >
        Login
      </button>
    </div>
  </main>
</div>
