<mat-card class="login-form__container"> 
  <mat-card-header class="login-form__header">
    <mat-card-title class="login-form__title">Log in</mat-card-title>
  </mat-card-header>
  <mat-card-content class="login-form__content">
    <div *ngIf="loading" class="d-flex justify-content-center p-3">
      <mat-spinner
      diameter="35"></mat-spinner>
    </div>
    <form class="login-form">
      <mat-form-field class="w-100">
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        >
        </mat-form-field>
        <mat-form-field class="w-100">
        <input
          matInput
          [(ngModel)]="userData.Password"
          type = "password"
          placeholder="Password"
          name="Password"
          required
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
      <button
        mat-raised-button
        (click)="login()"
        class="bg-dark text-light"
      >
        Log in
      </button>
  </mat-card-actions>
</mat-card>
