<mat-card class="col-18"> 
  <mat-card-header>
    <mat-card-title>Data Editor</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="loading" class="d-flex justify-content-center p-3">
      <mat-spinner
      diameter="35"></mat-spinner>
    </div>
    <form class="p-3">
      <mat-form-field class="w-100">
        <input
          matInput
          [(ngModel)]="userData.firstName"
          placeholder="First Name"
          type="text"
          name="firstName"
          required
        >
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          matInput
          [(ngModel)]="userData.lastName"
          placeholder="Last Name"
          type="text"
          name="lastName"
          required
        >
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          matInput
          [(ngModel)]="userData.username"
          placeholder="Username"
          type="text"
          name="username"
          required
        >
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          matInput
          [(ngModel)]="userData.email"
          type = "email"
          placeholder="Email"
          name="email"
          required
        >
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          matInput
          [(ngModel)]="userData.birthday"
          type = "date"
          placeholder="Birthday"  
          name="birthday"
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
      <button
        mat-raised-button
        (click)="editProfile()"
        class="bg-dark text-light"
      >
        Save Changes
      </button>
  </mat-card-actions>
</mat-card>