<div class="dialog-container">
  <!-- Dialog Header -->
  <section class="dialog-header pb-3">
    <!-- Title -->
    <span class="fs-4">{{data.name}}</span>
  </section>
  <!-- Dialog Content -->
  <mat-dialog-content >
    <!-- Description -->
    <div>
      <span>{{data.description}}</span>
    </div>
  </mat-dialog-content>
  <!-- Dialog Action -->
    
  <mat-dialog-actions class="d-flex justify-content-end">
    <Button class="btn btn-dark btn-sm" mat-dialog-close>Close</Button>
  </mat-dialog-actions>
</div>
